@font-face {
  font-family: Gotham;
  src: url(/fonts/gotham-book-webfont.woff) format("woff");
  font-weight: 300;
}

@font-face {
  font-family: Gotham;
  src: url(/fonts/gotham-medium-webfont.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: Gotham;
  src: url(/fonts/gotham-bold-webfont.woff) format("woff");
  font-weight: 700;
}

body {
  padding: 0;
  margin: 0;
  background: #ffc244;
  font-family: Gotham, Arial;
  font-weight: 300;
  font-size: 14px;
  color: #4a4a4a;
  -webkit-font-smoothing: antialiased;
}

#app {
  position: relative;
}

#logo {
  width: 148px;
  height: 48px;
  background: url('/img/logo_green.svg') no-repeat center center;
  display: block;
  margin: 20px auto;
}
