:local(.categoryList) {
  position: relative;
  display: block;
  margin: 20px;
  text-align: center;
}

:local(.categoryList ul) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
