:local(.category) {
  width: 108px;
  height: 108px;
  border-radius: 10px;
  margin: 20px auto;
  text-align: center;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}

:local(.category:hover) {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

:local(.categoryIcon) {
  display: block;
  height: 60px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

:local(.categoryLabel) {
  display: block;
  font-weight: 300;
  margin: 12px auto;
  vertical-align: top;
}
