:local(.storeList) {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  text-align: left;
  box-sizing: border-box;
  animation-name: appear;
  animation-duration: .3s;
  overflow: hidden;
}

:local(.disappearing) {
  animation-name: disappear;
  animation-duration: .3s;
}

@keyframes appear {
  from {
    opacity: 0;
    top: 100px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: 100px;
  }
}

:local(.catIcon) {
  width: 40px;
  vertical-align: bottom;
  margin-right: 5px;
}

:local(.close) {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 2em;
  line-height: 1;
  border: 0;
  cursor: pointer;
}

:local(.storeList ul) {
  display: block;
}

:local(.storeList h2) {
  margin-top: 0;
}

:local(.storeList li) {
  display: block;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
  text-align: left;
  border-radius: 2px;
  margin-bottom: 10px;
}

:local(.storeName) {
  font-weight: bold;
  font-size: 1.1em;
}

:local(.openInfo) {
  float: right;
}

:local(.tags) {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  text-align: center;
}

@media only screen and (max-width: 568px) {
  :local(.tags) {
    position: relative;
    display: block;
    margin: 10px 0;
    text-align: center;
    top: initial;
  }
}
